@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jqueryScript.js")

<div id="dataView">
    @{
        Html.RenderPartial("_AjaxDetails");
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var timer = setInterval(ajax, 1000);

        function ajax() {

            $.ajax({
                url: "@Url.Action("AjaxDetails","Home")",
                data: {
                    Id: "@Model.Id"
                },
                async:true,
                type: 'POST',
                dataType: 'html',
                cache: false,
                //success: function (html) {};
               
            }).done(function (partialViewResult) { $("#dataView").html(partialViewResult) });
        }
        
       // $(".itemContener > table").addClass("table").addClass("table-hover");
    });
</script>