@{
    ViewBag.Title = "Home Page";
}

@{
    var grid = new WebGrid(source: Model,canSort: true,canPage:true);
    
}
<html>
<head>
    <title>Displaying Data Using the WebGrid Helper</title>
</head>
<body>
    
    <h1>Computers</h1>
    <div id="grid">
        @grid.GetHtml(
         columns: grid.Columns(
             grid.Column("ComputerName", canSort: true),
             grid.Column("_cpu.CPUName","Procesor"),
             grid.Column("_gpu.GPUName","Graphics"),
             grid.Column("_memory.MemoryLoad","Memory Use"),
             grid.Column("_hdd.HDName","Hard Disk")
             ))
    </div>
</body>
</html> 