body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {
    background-color: #fff;
    box-shadow:5px;
}

.itemContener {
    font-size: 14px;
}

    .itemContener > h4 {
        font-size: 20px;
        font-weight: 900;
        font-family: Calibri;
    }

.table > tbody > tr {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

    .table > tbody > tr:hover {
        background-color: #61abe4;
    }

.navbar-nav > li {
    height: 100%;
}

.navbar-right{
    text-align:right;
    vertical-align:central;
    color:#fff;
 
}
